/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/mhcquant'
    // Should resolve issue with accessing s3 from the runners
    aws.client.anonymous = true
}
