/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/mhcquant/'
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true

// OpenMS 3.5.0 temp dir names only differ by second/host/PID and collide under singularity's PID namespace
env.OPENMS_TMPDIR = '$PWD'
