/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Search parameter presets for different MHC classes and instruments
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Define preset parameter maps that can be referenced in the samplesheet
    via the SearchPreset column. Parameters specified in the samplesheet
    individually will override preset values.
----------------------------------------------------------------------------------------
*/

params {
    search_presets = [
        // Lumos instrument presets
        'lumos_class1': [
            peptide_min_length: 8,
            peptide_max_length: 14,
            digest_mass_range: '800:2500',
            prec_charge: '2:3',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'Immuno-HCD',
            activation_method: 'HCD',
            instrument: 'high_res',
            number_mods: 3,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        'lumos_class2': [
            peptide_min_length: 8,
            peptide_max_length: 30,
            digest_mass_range: '800:5000',
            prec_charge: '2:5',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'Immuno-HCD',
            activation_method: 'HCD',
            instrument: 'high_res',
            number_mods: 5,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        // Q Exactive instrument presets
        'qe_class1': [
            peptide_min_length: 8,
            peptide_max_length: 14,
            digest_mass_range: '800:2500',
            prec_charge: '2:3',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'Immuno-HCD',
            activation_method: 'HCD',
            instrument: 'high_res',
            number_mods: 3,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        'qe_class2': [
            peptide_min_length: 8,
            peptide_max_length: 30,
            digest_mass_range: '800:5000',
            prec_charge: '2:5',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'Immuno-HCD',
            activation_method: 'HCD',
            instrument: 'high_res',
            number_mods: 5,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        // timsTOF instrument presets
        'timstof_class1': [
            peptide_min_length: 8,
            peptide_max_length: 14,
            digest_mass_range: '800:2500',
            prec_charge: '1:4',
            precursor_mass_tolerance: 20,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'timsTOF',
            activation_method: 'CID',
            instrument: 'high_res',
            number_mods: 3,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        'timstof_class2': [
            peptide_min_length: 8,
            peptide_max_length: 30,
            digest_mass_range: '800:5000',
            prec_charge: '1:5',
            precursor_mass_tolerance: 20,
            fragment_mass_tolerance: 0.02,
            fragment_bin_offset: 0.0,
            ms2pip_model: 'timsTOF',
            activation_method: 'CID',
            instrument: 'high_res',
            number_mods: 5,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        // Cross-linking / low-resolution presets
        'xl_class1': [
            peptide_min_length: 8,
            peptide_max_length: 14,
            digest_mass_range: '800:2500',
            prec_charge: '2:3',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.50025,
            fragment_bin_offset: 0.4,
            ms2pip_model: 'CIDch2',
            activation_method: 'CID',
            instrument: 'low_res',
            number_mods: 3,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ],
        'xl_class2': [
            peptide_min_length: 8,
            peptide_max_length: 30,
            digest_mass_range: '800:5000',
            prec_charge: '2:5',
            precursor_mass_tolerance: 5,
            fragment_mass_tolerance: 0.50025,
            fragment_bin_offset: 0.4,
            ms2pip_model: 'CIDch2',
            activation_method: 'CID',
            instrument: 'low_res',
            number_mods: 5,
            fixed_mods: ' ',
            variable_mods: 'Oxidation (M)'
        ]
    ]
}
