/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  fasta = [
    ['Testdata', ['https://github.com/nf-core/test-datasets/raw/openmspeptidequant/HUMAN_2014_concat.fasta']]
  ]
  mzmls = [
    ['Testdata', ['https://github.com/nf-core/test-datasets/raw/openmspeptidequant/MM15_Melanom_1_A_0.mzML', 'https://github.com/nf-core/test-datasets/raw/openmspeptidequant/MM15_Melanom_1_A_1.mzML', 'https://github.com/nf-core/test-datasets/raw/openmspeptidequant/MM15_Melanom_1_B_0.mzML', 'https://github.com/nf-core/test-datasets/raw/openmspeptidequant/MM15_Melanom_1_B_1.mzML'
  ]
}
