/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running SDRF/PRIDE input tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a minimal test using an SDRF
    sheet as --input. The pipeline fetches the RAW files from PRIDE and converts the
    SDRF to a samplesheet + search presets before running the standard workflow.

    Use as follows:
        nextflow run nf-core/mhcquant -profile test_sdrf,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'SDRF test profile'
    config_profile_description = 'Minimal SDRF input test dataset to check pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + 'mhcquant/testdata/PXD009752.sdrf.tsv'
    fasta = params.pipelines_testdata_base_path + 'mhcquant/testdata/UP000005640_9606.fasta'
}
