/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests on timsTOF data with  MS²Rescore and Percolator
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mhcquant -profile test_timstof,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test timsTOF profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with timsTOF data'

    // Input data
    input = params.pipelines_testdata_base_path + 'mhcquant/testdata/sample_sheet_timstof.tsv'
    fasta = params.pipelines_testdata_base_path + 'mhcquant/testdata/UP000005640_9606.fasta'

    // Search settings
    activation_method        = 'CID'
    prec_charge              = '1:4'
    precursor_mass_tolerance = 20
    fragment_mass_tolerance  = 0.01
    spectrum_batch_size      = 1000

    // MS²Rescore settings
    feature_generators       = 'ms2pip'
    ms2pip_model             = 'timsTOF'
}
