/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for running tests
 * ----------------------------------------------------------------------------
 * Defines bundled input files and everything required to run a fast and simple
 * pipeline test. Use as follows:
 *   nextflow run main.nf -profile test_single_quant,<docker/singularity>
 *  */

params {
    config_profile_name        = 'Test single replicate profile'
    config_profile_description = 'Test dataset to check pipeline function for single replicate'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = params.pipelines_testdata_base_path + 'mhcquant/testdata/sample_sheet_single_quant.tsv'

    // Pipeline settings
    quantify = true
}
